@charset "utf-8";

body {
    background-color: #FDFCFA
}
.hero {
    background-image: url('../images/heroTaiwanpc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 768px;
    width: 100%;
    margin: 0 auto;
}
.logo {
    display: block;
    width: 780px;
    margin: 0 auto;
    padding-top: 200px;
}
.icon {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 32px;
    height: 32px;
    margin-left:  103px;
}
.snsLink:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.formosa {
    background-image: url('../images/formosaTowerback.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 458px;
    width: 100%;
    margin: 0 auto;
}
.towerPhoto div h1 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 48px;
}
.towerPhoto div p {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 24px;
    border-bottom: 1px solid ;
    line-height: 2.5em;
}
.tower {
    width: 600px;
    height: auto;
    padding-bottom: 80px;
    margin-top: 80px;
}
.towerPhoto {
    display: flex;
    gap: 163px;
    justify-content: center;
}
.towerPhoto div {
    margin-top: 80px;
    text-align: end;
}
.taiwan {
    width: 104px;
    height: 78px; 
    margin-bottom: 80px;
}
.formosaInfo {
    background-image: url('../images/formosaIslandsback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 458px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 44px;
}
.formosaInfo div {
    display: flex;
    gap: 104px;
    padding-top: 80px;
    justify-content: center;
}
.island {
    width: 600px;
    height: auto;
    margin-right: 103px;
    padding-bottom: 80px;
}
.formosaInfo div p {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    line-height: 32px;
    width: 420px;
    height: 160px;
    padding-top: 60px;
}
.gallery {
    margin-bottom: 120px;
}
.gallery h2 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 48px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: left 103px bottom;
    background-size: 500px;
    padding-left: 182px;
    margin-bottom: 120px;
    padding-bottom: 24px;
}
.gallery h2 span {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 24px;
}
.travel {
    margin-bottom: 280px;
}
.travel h2 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 48px;
    text-align: end;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: right 103px bottom;
    background-size: 500px;
    padding-right: 182px;
    margin-bottom: 120px;
    padding-bottom: 24px;
}
.travel h2 span {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 24px;
}
.taichu, .tainan, .taipei {
    width: 99px;
    height: 209px;
    display: block;
    z-index: 10;
}
.taichu {    
    position: relative;
    right: 305px;
    top: 100px;
}
.tainan {
    position: relative;
    right: 440px;
    top: 400px;
}
.taipei {
    position: relative;
    top: 65px;
    right: 105px;
}
.taipei:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.tainan:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.taichu:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.travel div p {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    line-height: 32px;
    width: 420px;
    height: 128px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-right: 220px;
    padding-top: 60px;
    padding-bottom: 170px;
}
.travel div {
    display: flex;
    justify-content: flex-end;
}
.taiwanMap {
    width: 225px;
    height: 508px;
}
.event h2 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 48px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: left 103px bottom;
    background-size: 500px;
    padding-left: 182px;
    margin-bottom: 120px;
    padding-bottom: 24px;
}
.event h2 span {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 24px;
}
.event h3 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 36px;
    margin-left: 103px;
    margin-bottom: 40px;
}
.eventImg {
    width: 580px;
    height: 396px;
    margin-left: 103px;
}
.eventMore {
    display: flex;
    gap: 78px;
    margin-bottom: 80px;
}
.term {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}
.day {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    margin-bottom: 32px;
    text-align: center;
}
.eventInfo {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    line-height: 32px;
    width: 314px;   
    height: 194px;
    margin-left: 55px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 32px;
    padding-bottom: 218px;
}
.countdown {
    line-height: 57px;
}
.taiwanInfo {
    margin-top: 160px;
    border: 1px solid;
    margin: 0 163px;
    padding: 40px 40px 80px 40px;
    margin-bottom: 80px;
}
.taiwanInfo h2 {
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 40px;
    margin-bottom: 80px;
}
.infoContent {
    justify-content: center;
    display: flex;
    gap: 60px;
}
.infoMain {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    line-height: 32px;
    width: 450px;
    height: 320px;
}
.spLogo {
    display: none;
}
/* ↓ 共通部分 ヘッダー（PC版） ↓ */
.headerNav {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
}
.navList {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList ul {
    display: flex;
}
.navList ul li {
    color: #fff;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
}
/* ↑ 共通部分 ヘッダー（PC版） ↑ */
/* ↓ 共通部分 フッター（PC版） ↓ */
footer {
    background-color: #007AB7;
    width: 100%;
    padding: 40px 0 20px;
}
.footerImg {
    display: block;
    margin: auto;
    margin-bottom: 60px;
}
.footerNav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}
.footerNav ul {
    width: 25%;
    margin-left: 103px;
}
.footerNav ul li {
    color: #fff;
    font-family: 'Noto Sans JP';
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
}
.logo img {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
}
.icons {
    margin-right: 103px;
    width: 13%;
    display: flex;
    justify-content: space-between;
}
.icons a:hover {
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.underLine {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #03A9F4;
}
footer p {
    color: #fff;
    font-size: 12px;
    text-align: center; 
}
.onlySp {
    display: none;
}
/* ↑ 共通部分 フッター（PC版） ↑ */
/* ↓ ローディング画面 ↓ */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #007AB7;
    z-index: 10000;
    opacity: 1;
    transition: opacity 1s ease;
}
.loading.fadeout {
    opacity: 0;
}
.loadingImg {
    position: fixed;
    left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
@keyframes fadeIn {
    to { opacity: 1; }
}
.content {
    display: none;
}
.pop {
    display: block;
}
/* ↑ ローディング画面 ↑ */
/*↓カルーセル↓*/
.sliderWrap {
    max-width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.slider {
    display: flex;
    column-gap: 80px;
    a{
    width: 295px;
    height:auto;
    }
    img{
    width: 295px;
    height:auto;
    }
}
.indicator {
    display: flex;
    align-items: center;
    column-gap: 60px;
    width: fit-content;
    margin-top: 50px;
    @media screen and (max-width:768px){
        column-gap: 40px;
        margin-top: 20px;
    }
    li {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        list-style: none;
        @media screen and (max-width:768px){
              width: 18px;
              height: 18px;
              border-radius: 50%;
          }
    }
}
.slider1{
    transform:translateX(0);
    transition:all 0.3s;
}
.slider2{
    transform:translateX(-100px);
    transition:all 0.3s;
    @media screen and (min-width:768px){
        transform:translateX(-200px);
    }
    @media screen and (min-width:1023px){
        transform:translateX(-375px);
    }
}
.slider3{
    transform:translateX(-200px);
    transition:all 0.3s;
    @media screen and (min-width:768px){
        transform:translateX(-400px);
    }
    @media screen and (min-width:1023px){
        transform:translateX(-750px);
    }
}
.slider4{
    transform:translateX(-300px);
    transition:all 0.3s;
    @media screen and (min-width:768px){
        transform:translateX(-600px);
    }
    @media screen and (min-width:1023px){
        transform:translateX(-1125px);
    }
}
.slider5{
    transform:translateX(-400px);
    transition:all 0.3s;
    @media screen and (min-width:768px){
        transform:translateX(-800px);
    }
    @media screen and (min-width:1023px){
        transform:translateX(-1500px);
    }
}
.listChange {
    background-color: #000!important;
    border: 1px solid #000;
}
.select {
    display: flex;
    justify-content: center;
    gap: 60px;
}
#prev, #next {
    width: 64px;
    height: 64px;
    margin-top: 50px;
}
/*↑カルーセル↑*/
#prev:hover {
    transform: scale(1.05); 
    cursor: pointer;
}
#next:hover {
    transform: scale(1.05); 
    cursor: pointer;
}
.backTop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9000;
    margin: 20px;
    display: none;
}
.backTop:hover {
    opacity: 1.7;
    transform: scale(1.1);
    cursor: pointer;
}
.a-style {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: -1px;
    height: 0;
}
@media screen and (max-width: 768px) {
    .logo, .tower, .island, .eventImg, .infoMain, .eventInfo, 
    .travel div p, .formosaInfo div p, .event-desc {
        width: 100%; 
        height: auto;
        margin: 0;
        padding: 0;
    }
    #page-top {
        right: 100px;
        bottom: 100px;
    }
    .hero {
        background-image: url('../images/phoneHerotaiwan.png');   
        display: flex;             
        flex-direction: column;    
        align-items: center;       
        justify-content: center;   
    }
    .logo {
        display: none;
    }
    .spLogo {
        display: block;
        width: 335px;
        height: 135px;
        
        margin-bottom: 126px;
    }
    .icon {
        margin: 0;
        gap: 20px;
        margin-right: 300px;
    }
    .towerPhoto div h1 {
        font-size: 24px;
    }
    .towerPhoto div p {
        font-size: 12px;
        margin-bottom: 60px;
    }
    .formosa {
        background-image: url('../images/formosaTowerbacksp.png');
        background-size: cover;
        height: 407px;
    }
    .towerPhoto {
        flex-direction: column; 
        align-items: center;
        gap: 0px;
        margin-top: 0;
    }
    .towerPhoto div {
        margin-top: 0;
        text-align: center;
        width: 90%;
    }
    .taiwan {
        position: relative;
        margin: 0;
        top: 20px;
        left: 0;
        width: 32px;
        height: 24px;
        margin-bottom: 40px;
    }
    .tower {
        width: 90%; 
        margin-right: 0;
        padding-bottom: 0;
    }
    .formosaInfo {
        background-image: url('../images/formosaIslandsbacksp.png');
        background-size: cover;
        height: 399px;
    }
    .formosaInfo div {
        flex-direction: column; 
        gap: 30px;
        align-items: center;
        padding-top: 40px;
    }
    .formosaInfo div p {
        font-size: 12px;
        width: 223px;
        height: 96px;
        line-height: 19.2px;
    }
    .island {
        width: 90%;
        margin-right: 0;
        padding-bottom: 0;
    }
    .travel {
        margin-bottom: 100px;
    }
    .travel h2 span {
        font-size: 12px;
    }
    .travel h2 {
        font-size: 24px;
        text-align: center;
        background-position: center bottom;
        padding-right: 0;
        margin-bottom: 60px;
        background-size: 220px;
        padding-bottom: 8px;
    }
    .travelContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travel div p {
        font-size: 12px;
        width: 220px;
        height: auto;
        line-height: 19.2px;
        margin: 0 0 60px 0;
        padding: 12px 0;
        border: none; 
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .mapArea {
        position: relative; 
        width: 90%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .taiwanMap {
        width: 180px;
        height: 355px;
        display: block;
        margin-left: auto;     
        margin-right: auto;
    }
    .taichu, .taipei, .tainan {
        position: absolute;
        width: 59px; 
        height: 126px;
        top: auto; right: auto; left: auto; bottom: auto;
    }
    .taipei {
        right: 30px;
        top: 57px;
    }
    .taichu {
        right: 246px;
        top: 80px;
    }
    .tainan {
        right: 188px;
        top: 283px;
    }
    #prev,#next {
        display: none;
    }
    .gallery {
        margin-bottom: 50px;
    }
    .gallery h2 span {
        font-size: 12px;
    }
    .gallery h2 {
        font-size: 24px;
        text-align: center;
        background-position: center bottom;
        padding-right: 0;
        margin-bottom: 60px;
        background-size: 220px;
        padding-bottom: 8px;
        padding-left: 0;
    }
    .slider1{
    transform:translateX(-335px);
    transition:all 0.3s;
    }
    .slider2{
        transform:translateX(-710px);
        transition:all 0.3s;
    }
    .slider3{
        transform:translateX(-1085px);
        transition:all 0.3s;
    }
    .slider4{
        transform:translateX(-1460px);
        transition:all 0.3s;
    }
    .slider5{
        transform:translateX(-1835px);
        transition:all 0.3s;
    }
    .event h2 {
        font-size: 24px;
        text-align: center;
        background-position: center bottom;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 60px;
        background-size: 220px;
        padding-bottom: 8px;
    }
    .event h2 span {
        font-size: 12px;
    }
    .event h3 {
        font-size: 20px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .eventMore {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 40px;
        align-items: center;
    }
    .term {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .day {
        font-size: 12px;
    }
    .eventImg {
        width: 335px;
        height: 194px;
    }
    .eventInfo {
        margin-left: 15px;
        font-size: 12px;
        width: 223px;
        height: 96px;
        line-height: 19.2px;
        border: none;
    }
    .countdown {
        font-size: 20px;
        line-height: 32px;
    }
    .taiwanInfo h2 {
        font-size: 20px;    
        margin-bottom: 40px;
    }
    .infoMain p {
        font-size: 12px;
        line-height: 19.2px;
    }
    .taiwanInfo {
        margin: 60px 20px; 
        padding: 20px 20px 40px 20px;
    }
    .infoContent {
        flex-direction: column;
        gap: 40px;
    }
    .infoMain {
        width: 100%;
        height: auto;
    }
    /* ↓ ドロワーメニュー ↓ */
    #openNav {
        position: fixed;
        right: 4px;
        top: 4px;
    }
    #drawer {
        position: fixed;
        right: -225px;
        top: 0;
        width: 225px;
        height: 100vh;
        font-size: 20px;
        color: #fff;
        background-color: rgba(0, 122, 183, .9);
        transition: transform 0.3s;
        text-align: center;
        z-index: 90;
    }
    .show {
        transform: translate3d(-225px, 0, 0);
    }
    .drawerImg {
        display: flex;
        justify-content: space-between;
        margin: 4px;
        margin-bottom: 84px;
    }
    #drawer img {
        height: 100%;
    }
    #drawer h1 {
        font-size: 24px;
        margin-bottom: 60px;
    }
    .top {margin-bottom: 40px;}
    .pei, .chu {margin-bottom: 20px;}
    .nan, .pol {margin-bottom: 40px;}
    #drawer a { border-bottom: 1px solid #fff;}
    /* ↑ ドロワーメニュー ↑ */
    /* ↓ 共通部分 フッター（スマホ版） ↓ */
    footer {
        padding: 20px 0 12px;
    }
    .footerNav {
        display: block;
        padding: 0;
        margin: 0;
    }
    .footerNav ul {
        width: 50%;
        margin: 0 auto;
    }
    .footerNav ul li {
        font-size: 12px;
        margin-top: 12px;
        padding-bottom: 6px;
    }
    .flag img {
        margin: 0 auto;
    }
    .logo img {
        position: absolute;
        left: 15%;
        top: 87%;
    }
    .icons img {
        display: flex;
    }
    .icons {
        margin: 40px auto 0;
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    footer .underLine {
        margin: 12px 0;
    }
    footer p {
        font-size: 10px;
        text-align: center; 
    }
    .headerNav {
        display: none;
    }
    .onlySp {
        display: block;
    }
    .footerImg {
        display: none;
    }
    /* ↑ 共通部分 フッター（スマホ版） ↑ */
    .backTop {
        width: 48px;
        height: 48px;
    }
}
