@charset "utf-8";

body {
    font-size: 24px;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: lightyellow;
    letter-spacing: 0.05em;
}
#field {
    margin: auto;
    width: 80%;
    height: 500px;
    position: relative;
    background: lightgreen;
    border-radius: 12px;
}
#animal {
    position: absolute;
    top: 0;
    left: 0;
    transition: ease 20s;
}
#cart {
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 90%;
    background-color: lightyellow;
    outline: 2px solid saddlebrown;
    padding: 12px;
    border-radius: 20%;
}
#drawer {
    display: none;
    z-index: 1;
    position: fixed;
    top: 28%;
    left: 81.5%;
    background-color: lightyellow;
    outline: 2px solid saddlebrown;
    border-radius: 8px;
    height: 350px;
    transition: ease 0.2s;
    text-align: center;
    padding: 10px;
}
#drawer p {
    color: saddlebrown;
    font-size: 20px;
}
#drawer img {
    outline: 1px solid saddlebrown;
    border-radius: 4px;
    margin: 4px 0 8px;
    padding: 0 4px;
}
#drawer.show {
    display: block;
}
#item2.pop, #item3.pop {
    opacity: 1;
}
#item2, #item3 {
    position: fixed;
    z-index: 1;
    top: 44.5%;
    left: 88%;
    width: 150px;
    opacity: 0;
    transition: ease 0.2s;
    color: saddlebrown;
    background-color: lightyellow;
    outline: 2px solid saddlebrown;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
}
#item3 {
    top: 63%;
}
#item2 h1, #item3 h1 {
    border-bottom: 1px solid sandybrown;
    padding-bottom: 4px;
}
#item2 p, #item3 p {
    margin-top: 4px;
}

.grayout {
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none; /* クリック無効 */
}
.status {
    z-index: 1;
    position: absolute;
    margin-left: 12px;
}

#confirm, #confirm2, #confirm3 {
    display: none;
    z-index: 1;
    position: fixed;
    top: 12%;
    left: 30%;
    background-color: sandybrown;
    outline: 3px solid peru;
    padding: 20px 0 10px;
    border-radius: 12px;
    transition: ease 0.2s;
    width: 40%;
    text-align: center;
}
#confirm.show, #confirm2.show, #confirm3.show {
    display: block;
}
.count {
    display: flex;
    text-align: center;
    justify-content: center;
}
.count select {
    width: 40px;
    height: 28px;
    background-color: lightyellow;
    outline: 1px solid saddlebrown;
    border-radius: 4px;
    margin: 0 8px;
    padding-bottom: 2px;
}
.confBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.confBtn button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 36px;
    width: 100px;
}

#flash {
    font-size: 20px;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    outline: 1px solid black;
    border-radius: 8px;
    width: auto;
    z-index: 1;
    text-align: center;
    padding: 20px;
}
#close {
    position: fixed;
    top: 1%;
    left: 62%;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: white;
    outline: 1px solid black;
    border-radius: 50%;
    text-align: center;
}
.close {
    display: none;
}

.nameForm, .loginForm, .wrap, .content {
    color: saddlebrown;
    text-align: center;
    outline: 3px solid peru;
    background-color: sandybrown;
    border-radius: 20px;
    margin: 40px auto;
    padding: 20px;
    width: 500px;
}
form input, .confBtn button {
    color: saddlebrown;
    outline: 2px solid peru;
    background-color: lightyellow;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 12px;
    text-align: left;
}
form p, .wrap p, #confirm p, #confirm2 p, #confirm3 p, .content p, .count span, .count select {
    color: saddlebrown;
    font-weight: bold;
    margin-bottom: 12px;
    -webkit-text-stroke: 2px lightyellow;
    paint-order: stroke;
}
form a, .wrap a, .content h1 {
    font-weight: bold;
    font-size: 16px;
    -webkit-text-stroke: 1px lightyellow;
    paint-order: stroke;
}
[type=submit] {
    margin-left: 8px;
}

.name {
    color: saddlebrown;
    font-size: 28px;
    padding: 8px;
}
.born {
    font-size: 20px;
}

.bed {
    position: absolute;
    top: 50%;
}

#loading {
    position: fixed;
    z-index: 100;
    background-color: lightyellow;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: ease 1s;
}
#loading.fade {
    opacity: 0;
    z-index: 0;
}
.content {
    text-align: center;
    padding: 20px 40px 40px;
}
.content h1 {
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 2px solid lightyellow;
    padding: 12px;
}
.content p {
    margin-top: 40px;
    font-size: 20px;
}
@keyframes fuwafuwa {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.loadText {
    display: inline-block;
    animation: fuwafuwa 1s ease-in-out infinite;
    margin: 20px 0 0 40px;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}
.heart {
    color: tomato;
    position: absolute;
    font-size: 40px;
    animation: float 1s ease-out forwards;
    pointer-events: none;
}