@media screen and (max-width: 768px) {
    .loginArea {
        padding: 0 40px;
    }
    .mainTitle {
        text-align: center;
    }
    .mainTitle h1 {
        display: inline-block;
        font-size: 20px;
        margin-top: 32px;
        padding-bottom: 12px;
        border-bottom: 2px solid #ffd233;
    }
    .loginArea form {
        outline: 1px solid #f7d1cd;
        margin-top: 72px;
        padding: 20px;
    }
    .loginArea form p {
        color: #7f5539;
        font-size: 12px;
    }
    .loginArea form input {
        outline: 1px solid #7f5539;
        width: 100%;
        margin-bottom: 20px;
    }
    .loginArea form .submit {
        color: #fff;
        margin-top: 20px;
        text-align: center;
    }
    .loginArea form .submit input {
        background-color: #7f5539;
        margin-bottom: 0;
        width: 160px;
        height: 48px;
    }
    .loginArea a {
        display: block;
        width: 96px;
        color: #7f5539;
        font-size: 12px;
        margin: 20px 0 80px;
        margin-left: auto;
    }

    .compArea {
        padding: 0 40px;
    }
    .compWrapp {
        text-align: center;
        outline: 1px solid #f7d1cd;
        padding: 20px;
        margin-top: 60px;
    }
    .compWrapp {
        font-size: 12px;
        color: #7f5539;
        margin-bottom: 20px;
    }
    .compArea a {
        display: block;
        color: #7f5539;
        font-size: 12px;
        text-align: right;
    }
    .links {
        margin-bottom: 80px;
    }
}